body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif;font-size:12px;margin:0px;width:800px;margin:auto;

}

td {	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;font-size:12px;}

th {	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;}


.suckerdiv{margin:0px;height:24px;}

.suckerdiv ul{
margin: 0;
padding: 0;
list-style: none;
}
	
.suckerdiv ul li{
width:120px;height:24px;float:left;display:block;border: 1px solid #ccc;line-height:24px;
background:#fff;
}
	
/*1st level sub menu style */
.suckerdiv ul li ul{

/* Parent menu width - 1*/

width: 120px; /*sub menu width*/
position: absolute;
display: none;
}

/*All subsequent sub menu levels offset */

.suckerdiv ul li ul li{
width:120px;
position:relative;
}
.suckerdiv ul li ul li ul{ 
position:absolute;
top:0px;
left: 119px; /* Parent menu width - 1*/
}

/* menu links style */
.suckerdiv ul li a{
display: block;color: black;text-decoration: none;text-align:center;height:24px;line-height:24px;background: #fff;

}

.suckerdiv ul li a:hover{
color: white;
background-color: gray;
}

.suckerdiv .subfolderstyle{
background: url(../images/arrow-list.gif) no-repeat center right;
}

	
/* Holly Hack for IE \*/
* html .suckerdiv ul li { float: left; height: 24px; }
* html .suckerdiv ul li a { height: 24px;line-height:24px;text-align:center }
/* End */


#top{background:url(../images/top.jpg);padding-top:66px;}
#topn{background:url(../images/topn.jpg);height:92px;}
#menu{margin-top:64px;height:28px;font-size:14px;}
#menu a{ background:url(../images/menubg.gif) top no-repeat;display:block;width:96px;height:28px;float:left;text-align:center;line-height:28px;color:#fff;text-decoration:none;font-size:12px;}
#menu a:hover{ background:url(../images/menubg.gif) bottom no-repeat;}

#mainpic{background:url(../images/mainpic.jpg);height:183px;border-bottom:12px #ddd solid;}

#left{width:150px;border-right:#ddd 1px solid;float:left;clear:both;}
#lefttop{margin:6px;}
#lefttop ul{list-style:outside;list-style:none;margin-left:0px;padding:0px;}
#lefttop ul li{background:url(../images/lefttab_titbg.gif);border-bottom:1px #aaccee solid;height:25px;line-height:25px;font-weight:bold;;text-align:center;margin-bottom:4px;}
#lefttop ul li a{color:#07519a;text-decoration:none;}
#lefttop ul li a:hover{}

.lefttab{margin:6px 6px 6px 6px;border:1px #aaccee solid;background:#fff;}
.lefttab .tit{background:url(../images/lefttab_titbg.gif);border-bottom:1px #aaccee solid;height:25px;line-height:25px;text-align:center;font-weight:bold;color:#07519a;}
.lefttab table{width:100%}
.lefttab table td{text-align:center}
.lefttab ul{list-style:outside;list-style:square;margin:0px;padding-left:18px;}
.lefttab ul li{}
.lefttab a{color:#07519a;text-decoration:none;display:block;margin:2px;width:60px;height:24px;line-height:24px;}
.lefttab a:hover{color:#fff;text-decoration:none;background:#07519a;}




#main{line-height:24px;color:#012b40;margin:0px0;background:url(../images/content.jpg) right top no-repeat;}
.box {
	BORDER-RIGHT: #cedfe9 1px solid; BORDER-TOP: #cedfe9 1px solid; BORDER-LEFT: #cedfe9 1px solid; BORDER-BOTTOM: #cedfe9 1px solid
}

.menuon {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(http://i1.sinaimg.cn/hs/images/chenshu/08qiyeban/bg_top01.gif); WIDTH: 90px; COLOR: #426793; HEIGHT: 29px;float:left;text-align:center; cursor: hand;
}
.menuoff {
	FONT-SIZE: 12px; BACKGROUND-IMAGE: url(http://i2.sinaimg.cn/hs/images/chenshu/08qiyeban/bg_top02.gif); WIDTH: 64px; COLOR: #426793; HEIGHT: 29px;float:left;text-align:center; cursor: hand;
}

.linkblack {
	COLOR: #333; TEXT-DECORATION: none;height:29px; background:url(../images/titlebg.gif);
}
.linkBlack A:link {
	COLOR: #333; TEXT-DECORATION: none
}
.linkBlack A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
.linkBlack A:active {
	COLOR: #333; TEXT-DECORATION: underline
}
.linkBlack A:hover {
	COLOR: #333; TEXT-DECORATION: underline
}

.part{border-bottom:1px dotted #8fb4ed;margin:6px;float:left;padding:12px;}
.img{float:left;margin:12px;width:120px;}
.text{margin:12px;width:600px;float:left;}




.mainnav{border-bottom:1px solid #f6f6f6;}
.mainnav a{text-decoration:underline;color:#333}
.now{color:#FF9900;font-weight:bold;}

.maintit{text-align:right;margin:6px;font-size:14px;color:#2e5278;font-weight:bold;}

.maincontent{margin:12px;}
.maincontent ul{list-style:outside;list-style:square;margin-left:12px;}
.maincontent ul li{line-height:20px;color:#ddd;margin-bottom:6px;border-bottom:1px dotted #ddd;}
.maincontent ul li a{color:#0099CC;text-decoration:none;}
.maincontent ul li a:hover{color:#1f486b;text-decoration:none;}



#footer{background:url(../images/bottom.jpg) no-repeat;clear:both;margin:0px;text-align:center;color:#333;height:120px;margin-top:32px;padding-top:24px;}
#footer #nav{height:24px;}
#footer #nav a{font-weight:bold;text-decoration:none;color:#74a2b2;}
#footer #nav a:hover{color:#2a4a6d}


.yellow{color:#FF0033}